<mat-toolbar class="toolbar">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>
    <a class="navbar-brand " style="margin-left: 15px;" routerLink="/Pages">
        <img src="../../assets/logo.png" alt="" width="130px" height="41px">
    </a>
    <ul class="nav ">
        <li class="nav-item">
            <button mat-icon-button class="example-icon mx-2" aria-label="Example icon-button with share icon">
      <mat-icon style="color: #666666;">notifications_active</mat-icon>
    </button>
        </li>
        <li class="nav-item ">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <span class="menuLabel"> {{adminName}} </span>
          <mat-icon>expand_more</mat-icon>
       </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="text-center">
                    <span (click)="ChangePassword()">Cambiar contraseña</span>
                </button>
                <button mat-menu-item class="text-center">
                    <span (click)="logout()">Cerrar sesión</span>
                </button>
            </mat-menu>
        </li>
    </ul>
</mat-toolbar>
<mat-sidenav-container (click)="close()" class="sidenav-container  " style="overflow-x: hidden !important;">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-nav-list>
            <a class="nav-link text-start mb-1 " [routerLink]="['/Pages/']" routerLinkActive="active" mat-list-item>Usuarios</a>
            <a class="nav-link text-start" [routerLink]="['/Pages/Transactions']" routerLinkActive="active" mat-list-item>Transacciones</a>
            <a class="nav-link text-start" [routerLink]="['/Pages/DeliveryMan']" routerLinkActive="active" mat-list-item>Repartidores</a>
            <a class="nav-link text-start" [routerLink]="['/Pages/Drawbacks']" routerLinkActive="active" mat-list-item>Desembolsos</a>
            <a class="nav-link text-start" [routerLink]="['/Pages/activeService']" routerLinkActive="active" mat-list-item>Servicios activos</a>
            <a class="nav-link text-start" [routerLink]="['/Pages/Parameters']" routerLinkActive="active" mat-list-item>Parametros</a>
            <a class="nav-link text-start" [routerLink]="['/Pages/Indicators']" routerLinkActive="active" mat-list-item>Indicadores</a>
            <a class="nav-link text-start" [routerLink]="['/Pages/Help']" routerLinkActive="active" mat-list-item>Help</a>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet class="p-1">
    </router-outlet>
</mat-sidenav-container>