<div class="contenedor img-fluid ">
    <div class="row ">
        <div class="col ">
            <div class="p-2 mx-auto" style=" max-width: 70%; height: 500px; ">

                <form id="loginform" (ngSubmit)="login()" autocomplete="off" [formGroup]="loginform">
                    <div class="mb-5 form-group d-grid gap-2 col-3 mx-auto img-fluid ">
                        <img class="img-form" src="../../../assets/logo.png" alt="">
                    </div>
                    <div class=" mb-3 form-group d-grid  col-3 mx-auto ">
                        <label class="label-form"> Usuario</label>
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control rounded-pill" placeholder="pat@example.com" style="color:#9B9A9A;" formControlName="username" required>
                        </div>

                    </div>
                    <div class="mb-3 form-group d-grid col-3 mx-auto ">
                        <label class="label-form"> Contraseña</label>
                        <input type="text" class="form-control rounded-pill" placeholder="contraseña" style="color:#9B9A9A;" formControlName="password" required>
                    </div>
                    <!--   <div class="mb-3 form-group d-grid col-3 mx-auto ">
                        <label class="label-form"> Ciudad</label>
                               <input type="text" class="form-control rounded-pill" placeholder="Ciudad" style="color:#9B9A9A;" formControlName="city" required> 
                                <option formControlName="city" *ngFor="let city of cities" >{{city.name}}</option>
                             
                         </select>
                    </div> -->

                    <div class="form-group d-grid gap-2  mx-auto ">
                        <button type="submit" class="btn  text-center" [disabled]="loginform.invalid"><strong>Ingresar</strong></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>