<div class="VerMas">

    <p class="dialog-title d-flex">PQR
        <small class="services_status d-flex"></small></p>

    <hr>
    <div class="dialog-form">
        <div class="dialog-name">
            <p class="direction_name"># DE SOLICITUD</p>
            <p class="direction_description"> 1
            </p>
        </div>
        <div class="dialog-Description ">
            <p class="direction_name">FECHA</p>
            <p class="direction_description"> 10/06/2021
            </p>
        </div>
        <div class="dialog-cupon">
            <p class="direction_name">NOMBRE </p>
            <p class="direction_description"> Oswaldo Cueto
            </p>

        </div>
        <div class="dialog-typeAccount">
            <p class="direction_name">TIPO DE USUARIO</p>
            <p class="direction_description"> Domi

            </p>

        </div>
        <div class="dialog-typeAccount">
            <p class="direction_name">MENSAJE</p>
            <p class="direction_description"> {{message}}
            </p>

        </div>

    </div>

</div>