<ng-container>
    <div class="header-container">
        <div class="user-container ">
            <span class="user-title ">Codigos Promocionales</span>
        </div>

    </div>
    <mat-tab-group animationDuration="0ms" class="mt-1 mx-3 ">w
        <mat-tab label="Variables">

            <div class="row">
                <div class="button-Name col-lg-4 col-md-8 col-sm-12">
                    <h5>NOMBRE DEL BOTON</h5>
                    <mat-form-field appearance="outline">
                        <mat-label>Codigos Promocionales</mat-label>
                        <input value="Codigos Promocionales" matInput placeholder="Codigos Promocionales">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-2">
                <div class="button-Name col-lg-4 col-md-8 col-sm-12">
                    <h5>URL</h5>
                    <mat-form-field appearance="outline">
                        <mat-label>Codigos Promocionales</mat-label>
                        <input type="url" value="Https//:indomi.com.co/Codigos_Promocionales" matInput placeholder="Placeholder">
                    </mat-form-field>
                    <a target="_blank" class="url" href="Https//:indomi.com.co/Codigos_Promocionales">Https//:indomi.com.co/Codigos_Promocionales</a>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-12 third-row mb-1 mt-2 ">
                    <button mat-raised-button type="submit " class="save-button ">Actualizar</button>
                    <button mat-raised-button class="cancel-button " routerLink='/Pages/Help'> Cancelar</button>

                </div>
            </div>

        </mat-tab>
    </mat-tab-group>

</ng-container>