.row {
    margin-top: 10%;
}

.form-group {
    width: 300px;
}

.img-form {
    max-width: 300px;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-bottom: 1em;
}

.btn {
    background: #00BEDE;
    border: 0;
    outline: hidden;
    color: white;
    border-radius: 24px;
    height: 42px;
    font: 14px bold #FFFFFF;
}

input {
    border: 1px #EBEBEB;
    color: white;
    border-radius: 24px !important;
    opacity: 1;
}

.username {
    margin-bottom: 1em;
}

.recover-title {
    color: #006696;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    font-family: 'Manrope';
    font-weight: bold;
}

.recover-content {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-family: 'Manrope', ;
}

strong {
    font-size: 14px;
}