<ng-container class="changePassword-dialog">
    <div class="dialog-title">
        <p class="dialog-title-value">CAMBIAR CONTRASEÑA</p>
        <hr>
    </div>
    <div class="dialog-body">
        <p class="dialog-subTitle mb-3">Vas a cambiar la contraseña para: p******s@g****l.com</p>
        <div class="dialog-codeAuthor">
            <p>CODIGO DE AUTHENTICATOR</p>
            <mat-form-field class="mt-2  password" appearance="outline">
                <mat-label>0000000 </mat-label>
                <input matInput type="text" placeholder="Auth Code">
            </mat-form-field>
        </div>

        <div class="ChangePassword">
            <p>INTRODUCE LA NUEVA CONTRASEÑA</p>
            <mat-form-field class="password" appearance="outline">
                <mat-label>*******</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password1">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

            </mat-form-field>
            <mat-form-field class="password" appearance="outline">
                <mat-label>*******</mat-label>
                <input matInput [type]="Twohide ? 'password' : 'text'" [formControl]="password">
                <button mat-icon-button matSuffix (click)="Twohide = !Twohide" [attr.aria-pressed]="Twohide">
                  <mat-icon>{{Twohide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

        </div>
        <div class="mb-1">
            <button mat-raised-button class="save-button">Guardar</button>
            <button mat-raised-button class="cancel-button" mat-dialog-close>Cancelar</button>

        </div>
    </div>

</ng-container>