.user-title {
    font-size: 18px;
    font-family: 'Manrope' !important;
    font-weight: bold;
    color: #000000;
}

.user-container {
    /* margin-top: -12px; */
    margin-left: 45px;
}

.col-1 {
    flex: 0 0 auto;
    width: 4.888888%;
}

table.table {
    width: 100%;
    padding: 0 !important;
    font-family: 'Manrope';
}

input {
    padding: 0 !important;
}

.mat-form-field-infix {
    padding: 0.5em 0;
    border-top: 0 im !important;
}

.user-input .input {
    padding: 0 !important;
}

.field-input-user .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 !important;
    height: 50px !important;
}

.photo-design {
    width: 54px;
    height: 54px;
    color: #EAEAEA;
    background-color: #EAEAEA;
    margin: 5px;
}

.mat-menu-item {
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 400;
}

.img-list {
    width: 60px;
    border-radius: 30px;
    margin: 5px 10px;
}

mat-icon.add {
    width: 28px;
    height: 28px;
    color: #00BEDE;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 10px;
}

.ADDSEARCH {
    margin-right: 5%;
    margin-top: -10px;
    cursor: pointer;
}

a.link {
    margin-right: 28px;
    color: #00BEDE;
    text-decoration: underline;
}

.table>:not(caption)>*>* {}

.mat-icon-button {
    width: 28px;
    height: 28px;
}

.checkBox {
    margin-left: 30px !important;
}

.mat-form-field {
    width: 150px !important
}

tr,
td,
th {
    height: 90px !important;
}

img {
    border-radius: 50%;
    max-width: 77px;
    max-height: 77px;
}

img.domi-foto {
    width: 80px;
    height: 80px;
}

i {
    cursor: pointer;
}

.fa-edit {
    color: #00BEDE;
    margin: 5px;
    margin-right: 10px;
}

button.mat-raised-button.save-button {
    background: #00BEDE;
    border-radius: 23px;
    opacity: 1;
    color: white;
    width: 130px;
    height: 38px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Manrope' !important;
    margin-right: 11px;
}

button.mat-raised-button.cancel-button {
    border: 1px solid #D0D0D0 !important;
    border-radius: 23px !important;
    opacity: 1 !important;
    background-color: transparent !important;
    width: 130px;
    height: 38px;
    font-size: 12px;
    color: #666666;
    font-family: 'Manrope' !important;
    margin-right: 11px;
}