<ng-container class="animate__animated animate__fadeIn animate__slow">
    <div class="header-container">
        <div class="user-container ">
            <span class="user-title ">Repartidores</span>
        </div>
        <div class="ADDSEARCH">

            <mat-form-field appearance="outline" class="field-input-user">
                <input matInput placeholder="Buscar domi..." class="field-input-user" #searchTerm (keyup)="searchDomi(searchTerm.value)">
                <mat-icon matPrefix style="color: #666666;" class="input">search</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div class="ml-2 city">
        <h4 class="city-title ciudad">Selecciona una ciudad</h4>
        <div class="row mt-2 ">
            <div class="col">
                <select class="form-select" aria-label="Default select example" [(ngModel)]="cityservice.selectedCity">
                    <option value="" selected>Restablecer filtro</option>
                    <option [value]="city.id" *ngFor="let city of (cityservice.citiesObs | async)">{{city.name}}</option>
              </select>
            </div>
            <div class="col">
                <button mat-raised-button (click)="filter()" class="save-button ml-2 ">Filtrar</button>

            </div>
        </div>

    </div>
    <mat-tab-group animationDuration="0ms" class="mt-1 mx-3 ">
        <mat-tab label="Cargando" class=" fadeIn userCharge mt-2 mb-2 fast" *ngIf="cargando">
            <div class="alert alert-info text-center animated fadeIn fast" role="alert">
                <h4 class="alert-heading">Cargando</h4>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Porfavor Espere...</p>
            </div>
        </mat-tab>
        <mat-tab label="Bases de datos ({{domis.length}})">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr class="text-center">
                        <th class="align-middle">ID </th>
                        <th class="align-middle">FOTO</th>
                        <th class="align-middle">CELULAR</th>
                        <th class="align-middle">NOMBRE</th>
                        <th class="align-middle">APELLIDO</th>
                        <th class="align-middle">SALDO</th>
                        <th class="align-middle"> PÁGINA: {{pageNumber}}</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let domi of domis" class="text-center" style="height: 77px !important;">

                        <td class="align-middle" style="height: 77px !important;">{{domi.id}}</td>
                        <td class="align-middle" style="height: 77px !important;">
                            <img class="domi-foto" [src]="domi.photo" alt="">
                        </td>
                        <td class="align-middle" style="height: 77px !important;">+{{domi.username}}</td>

                        <td class="align-middle" style="height: 77px !important;">{{domi.first_name}}</td>
                        <td class="align-middle" style="height: 77px !important;">{{domi.last_name}}</td>
                        <td class="align-middle" style="height: 77px !important;">$ {{domi.total |number:'1.0-0'}}</td>
                        <td class="align-middle" style="height: 77px !important;">
                            <i class="fas fa-edit" [routerLink]="['/Pages/DeliveryManDataBase', domi.id]"></i>
                            <a (click)="BlockDomi(domi)">
                                <i class="fas fa-unlock"></i>

                            </a>
                        </td>


                    </tr>

                </tbody>

            </table>
            <div class="paginator m-3">
                <button mat-raised-button class="cancel-button mr-2" (click)="pagination(-1)">Anterior</button>
                <button mat-raised-button (click)="pagination(1)" class="save-button ml-2 ">Siguiente</button>

            </div>
        </mat-tab>
        <mat-tab label="Bloqueados ({{blockedDomis.length}})" *ngIf="blockedDomis.length > 0">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr class="text-center">
                        <th class="align-middle">ID</th>
                        <th class="align-middle">FOTO</th>
                        <th class="align-middle">CELULAR</th>
                        <th class="align-middle">NOMBRE</th>
                        <th class="align-middle">APELLIDO</th>
                        <th class="align-middle">SALDO</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let blockedDomi of blockedDomis" class="text-center" style="height: 77px !important;">
                        <td class="align-middle" style="height: 77px !important;">
                            PÁGINA: {{pageNumber}}
                        </td>
                        <td class="align-middle" style="height: 77px !important;">{{blockedDomi.id}}</td>
                        <td class="align-middle" style="height: 77px !important;">
                            <img class="blockedDomi-foto" [src]="blockedDomi.photo" alt="">
                        </td>
                        <td class="align-middle" style="height: 77px !important;">+{{blockedDomi.username}}</td>

                        <td class="align-middle" style="height: 77px !important;">{{blockedDomi.first_name}}</td>
                        <td class="align-middle" style="height: 77px !important;">{{blockedDomi.last_name}}</td>
                        <td class="align-middle" style="height: 77px !important;">{{blockedDomi.total |number:'1.0-0'}}</td>
                        <td class="align-middle" style="height: 77px !important;">
                            <i class="fas fa-edit" [routerLink]="['/Pages/DeliveryManDataBase', blockedDomi.id]"></i>
                            <a (click)="DisBlockDomi(blockedDomi)">
                                <i class="fas fa-lock"></i>

                            </a>
                        </td>


                    </tr>

                </tbody>

            </table>
            <div class="paginator m-3">
                <button mat-raised-button class="cancel-button mr-2" (click)="pagination(-1)">Anterior</button>
                <button mat-raised-button (click)="pagination(1)" class="save-button ml-2 ">Siguiente</button>

            </div>
        </mat-tab>

    </mat-tab-group>

</ng-container>